.grid {
  display: grid;
  margin-top: 50px;
  padding: 20px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: dense;
}
